<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IBLRequest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Mini iPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74ABAAF221072A1D00FFBF9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74CFFA9720B8521900E3918D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74CFFAAB20B8521A00E3918D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74CFFAB620B8521A00E3918D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
